html {
  background-color: darkgreen;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

h1 {
  height: 4em;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: .6em;
  outline: none;
  cursor: pointer;
  color: white;
  width: 10em;
  background-color: darkgreen;
  border-style: solid;
  border-radius: 2em;
  border-color: yellow;
  margin-bottom: 1.5em;
}

button:hover {
  color: darkgreen;
  background: rgba(255,255,255,.85);
}

select,
input {
  margin-bottom: 1.5em;
}

.start-page {
  width: 100%;
  position: absolute;
  left: 0;
}

.welcome-message {
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.start-select {
  border-style: solid;
  width: 15em;
  border-radius: 2em;
  border-color: yellow;
  height: 12em;
  margin-bottom: 2em;
}

.game-page {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  position: absolute;
  cursor: pointer;
  left: 0;
}

.player-info {
  align-self: flex-start;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 36em;
  background-color: black;
}

.game-section {
  height:11.5em;
  width: 11.5em;
  background-color: darkgreen;
}

.game-section-middle {
  margin-top: .75em;
  margin-bottom: .75em;
}

.token {
  font-size: 6em;
  margin-top: .25em;
  z-index: -1;
  text-shadow: inset 0 0 .05em;
}

.token-spin {
    animation: spin ease 1000ms;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 .6em lightgreen;
  }
  100% {
    transform: rotate(360deg);
    text-shadow: none;
  }
}

.black {
  color: black;
}

.red {
  color: red;
}

.options-button-container {
  position: absolute;
  bottom: -6em;
  justify-self: center;
}

.options-menu {
  position: absolute;
  border-style: solid;
  padding: 1em;
  width: 10em;
  border-radius: 2em;
  border-color: yellow;
  justify-self: center;
  background: rgba(0, 100, 0, .75);
}

.blur {
  filter:blur(5px);
}

.hidden {
  display: none;
}
